<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>{% block title %} {% endblock title %}</title>
</head>
<body>
    <div class="container-fluid">
        <h6>
            ЧТо-то тут будет
        </h6>
    </div>
    <div class="container-fluid">
        <div>{% block header %} {% endblock header %}</div>
    </div>
        <div class="row text-center text-body">
            <div>{% block content %} {% endblock content %}</div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row bg-primary text-center text-white">
            <p>По всем вопросам к админу email</p>
        </div>
    </div>
</body>
</html>